$font-arial: Arial;
$font-helvetica: "HelveticaNeueUltraLight";

@mixin tick($left){
  position: absolute;
  background: image-url("sys07.png") no-repeat 0 0;
  top: -6px;
  left: $left;
  background-size: 16px;
  width: 17px;
  height: 17px;
}

@mixin bread_icons($image, $left){
  width: 20px;
  height:97%;
  background: image-url($image) no-repeat 0 0;
  background-size: 20px;
  float: left;
  margin-left: $left;
}

@mixin set_small_font($size){
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: -0.02em;
  font-size: $size;
}

body {
  background-image: image-url("bg.jpg");
  font-family: $font-helvetica;
  color: #fff;
  font-size: 16pt;
  overflow: hidden;
}

ul li{
  list-style-type: none;
}

.bxslider{
  li {
    margin-right: 100px;
    list-style-type: none;
  }

  li a {
    display: inline-block;
    position: relative;
    z-index: 0;
    text-decoration: none;
    text-align: center;
    width: 7.3em;
    margin: 1.35em 1.45em 1em 1em;

    .sombra {
      position: absolute;
      top: 0.15em;
      left: 0.2em;
      z-index: 10;
      width: 5.9em;
      height: 5.9em;
      border-radius: 50%;
      overflow: hidden;
      background-image:-webkit-gradient(linear,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(38,60,124,0.4)));
      background-image:-webkit-linear-gradient(rgba(255,255,255,0) 0%,rgba(38,60,124,0.4) 100%);
      background-image:linear-gradient(rgba(255,255,255,0) 0%,rgba(38,60,124,0.4) 100%);
    }

    .texto {
      display: block;
      color: rgba(255,255,255,0.8);
      padding-top: 0.45em;
      font-family: $font-arial;
      color: #fff;
      font-size: 0.65em;
    }

    img {
      width: 6.219em;
      height: 6.219em;
      border: 0.25em solid #FFF;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.content {
  overflow: hidden;
  position: relative;
  height: 30em;
  width: 41em;
  margin: auto;
  margin-top: 1.4em;
}

#info-services{
  overflow: auto;
  height: 21em;
  width: 34em;
}

.other-services{
  .serv-of {
    width: 126px;
    height: 32px;
    background-color: #8D97BD;
    position: fixed;
    -moz-border-radius:5%;
    -webkit-border-radius:4%/15%;
    border-radius:4%/15%;
    display: table;
    bottom: 5px;
    right: 230px;
    z-index: 999;
    div{
      float: left;
      margin-left: 17px;
      font-family: $font-arial;
      font-size: 12px;
      color: #fff;
      margin-top: 8px;
      p{
        margin: 0;
        a{
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }
  .img-man{
    width: 105.5px;
    height: 136px;
    position: fixed;
    bottom: 0;
    right: 105px;
    z-index: 999;
    img{
      width: 105.5px;
      height: 136px;
    }
  }
}

.start {
  overflow: hidden;
  position: absolute;
  width: 100%;
  margin: auto;
}

.loading {
  color: lighten(#10216b, 40%);
  left: 40%;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 20%;
  z-index: 999;
  margin-top: 3.2em;
  img{
    width: 75px;
    height: auto;
  }
}

.subtitle {
  width: 100%;
  position: relative;
  text-align: center;
  @include set_small_font(16px);
}

.presentation {
  font-size: 2.7em;
  text-align: center;
  margin-top: 0.9em;
  text-shadow: 1px 1px 8px rgba(0,0,0,0.65);
  .presentation-2 {
    font-size: 0.7em;
    margin-top: 0.2em;
    padding-bottom: 40px;
  }
  .no-exist{
    font-size: 0.6em;
    margin-top: 4em;
  }
  .option{
    font-size: 0.7em;
  }
}

.align-vertical{
  margin-top: 0.25em;
}

.intro-pic {
  background: image-url("img_into1.png") no-repeat 0 0;
  width: 13.375em;
  height: 11.656em;
  position: fixed;
  bottom: 2em;
  left: 12em;
  background-size: 12.375em 11.656em !important;
  -webkit-transition: all 1s linear;
}

#btn-start{
  img{
    width:2.5em;
    height: auto;
  }
}

.back {
  position: fixed;
  top: 45px;
  left: 32px;
  z-index: 100;
  width: 34px;
  height: 29px;
  background: image-url("sys03.png") no-repeat 0 0;
  background-size: 29px 64px;
  &:active {
    background-position: 0 bottom;
  }
}

.bread{
  position: fixed;
  width: 400px;
  height: 18px;
  bottom: 10px;
  z-index: 99;
  left: 15px;
  .go-home{
    @include bread_icons("sys04.png", 0px);
    span{
      @include tick(12px);
    }
  }
  .go-cat{
    @include bread_icons("sys05.png", 33px);
    span{
      @include tick(64px);
    }
  }
  .go-search{
    @include bread_icons("sys06.png", 33px);
    span{
      @include tick(116px);
    }
  }  
}

.header-search {
  position: fixed;
  top: 4.250em;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 4.8em;
  background: image-url("sys08.png") repeat-x 0 3.2em;
  overflow: hidden;
  padding-bottom: 2em;
  -webkit-transition: all 0.5s linear;
  .last-update{
    float: right;
    margin-right:20px;
    margin-top: 22px;
    opacity: 0.8;
    @include set_small_font(15px);
  }
  .category-name{
    float: left;
    width: 158px;
    margin-left: 168px;
    @include set_small_font(15px);
    color: #fff;
    margin-top: 22px;
    opacity: 0.8;
  }
  .sombra{
    display: inline-block;
    position: absolute;
    top: -1.55em;
    left: 1em;
    z-index: 10;
    width: 5.8em;
    height: 5.8em;
    border-radius: 50%;
    overflow: hidden;
    background-image:-webkit-gradient(linear,color-stop(0, rgba(255,255,255,0)),color-stop(1, rgba(38,60,124,0.4)));
    background-image:-webkit-linear-gradient(rgba(255,255,255,0) 0%,rgba(38,60,124,0.4) 100%);
    background-image:linear-gradient(rgba(255,255,255,0) 0%,rgba(38,60,124,0.4) 100%);
  }
  .shadow{
    display: inline-block;
    position: absolute;
    top: -1.55em;
    left: 1em;
    z-index: 10;
    width: 5.8em;
    height: 1.5em;
    box-shadow: 0 0 1.250em 0.500em rgba(10,20,60,0.64);
  }
  img{
    width: 6.219em;
    height: 6.219em;
    border: 0.25em solid #FFF;
    border-radius: 50%;
    top: -1.75em;
    left: 0.8em;
    overflow: hidden;
    position: absolute;
  }
}

.presentation-search{
  @extend .presentation;
  font-size: 40px;
  margin-top: 2em;
}

.box-filters {
  background-color: #fff;
  width: 32em;
  height: 5.9em;
  border-radius: .5em;
  box-shadow: 0.063em 0.063em 0.500em rgba(0,0,0,0.65);
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  margin-top: -0.2em;
  margin-left: -16em;
  -webkit-transition: all 0.5s linear;
  -webkit-transition-delay: 1s;
  .image {
    width: 119px;
    height: 87px;
    background: image-url("sys09.png") no-repeat 0 0;
    background-size: 119px 87px;
    position: absolute;
    top: -3em;
    left: 50%;
    margin-left: -2.9em;
  }
  .relative-inner{
    position: relative;
    z-index: 0;
    padding: 2.594em;
    text-align: center;
    font-size: 15px;
    display: none;
    select{
      option{
        color: #000;
      }
    }
  }
  label{
    color: #7B7F86;
    padding-left: 0.5em;
    display: inline-block;
    margin-left: 1.625em;
    width: 21.22%;
    text-align: left;
    &:first-child{
      margin-left: 0;
    }
    select{
      display: block;
      width: 100%;
      height: 1.4em;
      margin-left: -0.5em;
      margin-top: 0.2em;
      background-color: #F3F4F6;
      border-color: #D0D3DC;  
      option{
        font-size: 10px;
        color: #000;
      }
    }
  }
}

.box-table {
  border-radius: .5em;
  overflow: hidden;
  width: 51.969em;
  margin: 0 auto;
  margin-top: 1em;
  -webkit-transition: all 0.5s linear;
  -webkit-transition-delay: 1s;
  text-align: center;
  font-size: 15px;
  font-family: $font-arial;
  letter-spacing: -0.02em;
  table{
    border-radius: .5em;
    margin: auto;
    .lamp{
      th{
        padding: 5px;
      }
    }
    th {
      text-align: center;
      vertical-align: center;
      padding: 5px;
      background: rgba(255,255,255,0.4) image-url("sys10.png") repeat-x 0 bottom;
      border-left: 1px solid rgba(255,255,255,0.2);
      padding: 1em;
      p{
        margin: -0.5em;
      }
      .mini{
        font-size: 8px;
        font-weight: normal;
      }
      &:last-child{
        border-top-right-radius: 0;
      }
      &:first-child{
        border-top-left-radius: 0;
      }
    }
    td{
      background-color: #fff;
      color: #797F85;
      padding: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      border-left: 1px solid #D0D3DC;
      border-top: 1px solid #D0D3DC;
      font-weight: bold;
      &:last-child{
        border-bottom-right-radius: 0;
      }
      &:first-child{
        border-bottom-left-radius: 0;
      }
      img{
        width: 127px;
        height: 43px;
      }
    }
  }
}

@media screen and (max-height: 600px) {
  .box-table{
    width: 100%;
  }

  .content .presentation, .content .presentation-search, .content .presentation-search{
    padding: 2px;
  }

  .bx-wrapper {
    .bx-pager{
      bottom: 0;
    }
    .bx-controls-auto{
      bottom: 0;
    }
  }

  body{
    overflow: auto;
  }

  .intro-pic{
    display: none;
  }

  .back{
    display: none;
  }

  .content{
    width: 100%;
    .presentation, .presentation-search{
      font-size: 1.5em;
      margin-top: 0;
    }
    .back{
      top: 10px;
    }
  }
  .bx-wrapper{
    height: 51%;
  }
  .bxslider li a{
    margin: 0.35em 0.45em 0em 1em;
    .sombra{
      display: none;
    }
    img{
      display: none;
    }
  }
  .box-filters{
    top: 26%;
    height: auto;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
    label{
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .img-man{
    display: none;
  }

  .other-services {
    .serv-of{
      right: 30px;
    }
  }

  #info-services{
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -30px;
  }

  .presentation-search{
    margin-top: 14px;
  }

  .content .presentation, .content .presentation-search, .content .presentation-search{
    margin-top: 14px;
    .option{
      display: none;
    }
    .presentation-2{
      padding-bottom: 6px;
    }
  }

  .back{
    display: none;
  }

  .bxslider li a{
    width: 3.3em;
    margin: 0.35em 1.45em 0em 1em;
    .sombra{
      width: 2.9em;
      height: 2.9em;
      display: block;
    }
    .texto{
      font-size: 0.35em;
    }
    img{
      width: 3.21em;
      height: 3.21em;
      display: block;
    }
  }

  .footer{
    top: 0;
  }

  .bread{
    top: 18px;
  }

  .bx-wrapper{
    height: 31%;
  }
  .box-filters{
    margin-top: -4em;
    .image{
      display: none;
    }
  }
  .img-man{
    display: none;
  }

  .other-services {
    .serv-of{
      left: 167px;
      top: 6px;
    }
  }
}