<div class="presentation-search">
   Velas Diesel para sua viatura
   <div class="no-exist" ng-repeat="product in products | by_id:id_product" ng-show="!product.marca1.length && !product.marca2.length">
   Não existem resultados para a sua viatura, por favor consulte um colaborador
   </div>
</div>

<div class="box-table">
	<table class="table-header">
		<tr ng-repeat="product in products | by_id:id_product" ng-hide="!product.marca1.length && !product.marca2.length">
			<th ng-repeat="product in products | by_id:id_product"><b>Marca</b></th>
			<th ng-repeat="product in products | by_id:id_product"><b>Referència</b></th>
		</tr>
		<tr ng-repeat="product in products | by_id:id_product" ng-hide="!product.marca1.length">
			<td ng-repeat="product in products | by_id:id_product"><img src="images/marca2.jpg" /></td>
			<td ng-repeat="product in products | by_id:id_product">{{ product.marca1 }}</td>
		</tr>
		<tr ng-repeat="product in products | by_id:id_product" ng-hide="!product.marca2.length">
			<td ng-repeat="product in products | by_id:id_product"><img src="images/marca8.jpg" /></td>
			<td ng-repeat="product in products | by_id:id_product">{{ product.marca2 }}</td>
		</tr>
	</table>
</div>