    <div class="relative-inner" id="filter-type-1">
      <label>Marca
        <select id="brand_1" name="brand_1" ng-model="brand_model" ng-click="show_model_year(brand_model)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="brand in brands | unique:'marca_carro'" value="{{ brand.marca_carro }}">{{ brand.marca_carro }}</option>
        </select>
      </label>
      <label>Modelo e Ano
        <select id="model_year_1" name="model_year_1" ng-model="product" ng-click="load_product(product)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="model_year in model_years" value="{{ model_year.id }}">{{ model_year.modelo }} [{{ model_year.data_ini }} - {{ model_year.data_fim }}]</option>
        </select>
      </label>
    </div>

    <div class="relative-inner" id="filter-type-2">
      <label>Marca
        <select id="brand_2" name="brand_2" ng-model="brand_model" ng-click="show_model_year(brand_model)">
          <option value="0" selected="true">Selecione uma opção</option>
          <option ng-repeat="brand in brands | unique:'marca_carro'" value="{{ brand.marca_carro }}">{{ brand.marca_carro }}</option>
        </select>
      </label>
      <label>Modelo e Ano
        <select id="model_year_2" name="model_year_2" ng-model="modelo_model" ng-click="show_motor(modelo_model, brand_model)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="model_year in model_years | unique:'modelo'" value="{{ model_year.modelo }}">{{ model_year.modelo }} [{{model_year.data_ini}} - {{model_year.data_fim}}]</option>
        </select>
      </label>
      <label>Mortorizaçao
        <select id="motor_2" name="motor_2" ng-model="product" ng-click="load_product(product)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="motor in motors | unique:'motorizacao'" value="{{ motor.id }}">{{ motor.motorizacao }}</option>
        </select>
      </label>
    </div>

    <div class="relative-inner" id="filter-type-3">
      <label>Tipo
        <select id="type_3" name="type_3" ng-model="type_model" ng-click="show_brand(type_model)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="type in types | unique:'marca_carro'" value="">{{ type.marca_carro }}</option>
        </select>
      </label>
      <label>Marca
        <select id="brand_3" name="brand_3">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
      <label>Modelo
        <select id="model_3" name="model_3">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
      <label>Mortorizaçao
        <select id="motor_3" name="motor_3">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
    </div>

    <div class="relative-inner" id="filter-type-4">
      <label>Tipo
        <select id="type_4" name="type_4">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
      <label>Marca
        <select id="brand_4" name="brand_4">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
      <label>Modelo
        <select id="model_4" name="model_4">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
    </div>

    <div class="relative-inner" id="filter-type-5">
      <label>Marca
        <select id="brand_5" name="brand_5" ng-model="brand_model" ng-click="show_model_year(brand_model)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="brand in brands | unique:'marca_carro'" value="{{ brand.marca_carro }}" on-load-products="">{{ brand.marca_carro }}</option>
        </select>
      </label>
      <label>Modelo e Ano
        <select id="model_year_5" name="model_year_5" ng-model="modelo_model" ng-click="show_motor(modelo_model, brand_model)">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="model_year in model_years | unique:'modelo'" value="{{ model_year.modelo }}">{{ model_year.modelo }}</option>
        </select>
      </label>
      <label>Versao
        <select id="version_5" name="version_5">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="motor in motors | unique:'motorizacao'" value="">{{ motor.motorizacao }}</option>
        </select>
      </label>
    </div>

    <div class="relative-inner" id="filter-type-6">
      <label>Tamanho da Roda
        <select id="pneu_tam_6" name="pneu_tam_6">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
      <label>Medida do Pneu
        <select id="pneu_size_6" name="pneu_size_6">
          <option value="0">Selecione uma opção</option>
          <option ng-repeat="product in products | unique:'marca_carro'" value="">{{ product.marca_carro }}</option>
        </select>
      </label>
    </div>