  <a href="#/catalog">
     <div class="back"></div>
  </a>

  <div class="header-search" ng-repeat="category in categories | by_id:id_cat">
    <a>
      <span class="sombra"></span>
      <img  src="{{ category.image }}" />
      <span class="shadow"></span>
      <div class="category-name">{{ category.name }}</div>
    </a>
    <div class="last-update">Last update: {{category.last_update}}</div>
  </div>

  <div class="presentation-search">
    Identyfikacji pojazdu
  </div>
  <div class="loading">
    <img src="images/320.GIF" />
  </div>
  <div class="box-filters">
    <div ng-include="'views/filters.html'"></div>
    <div class="image"></div>
  </div>

  <div class="bread">
    <a href="/">
      <div class="go-home"><span></span></div>
    </a>
    <a href="#/catalog/">
      <div class="go-cat"><span></span></div>
    </a>
    <a href="#/catalog/{{ cat_name }}">
      <div class="go-search"></div>
    </a>
  </div>