
@media screen and (max-width: 1054px) {
  body{
    overflow: auto;
  }

  .content{
    width: 100%;
    .presentation{
      font-size: 1.7em;
    }
  }

  .intro-pic{
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .bxslider li a{
    width: 3.3em;
    margin: 0.35em 1.45em 0em 1em;
    .sombra{
      width: 2.9em;
      height: 2.9em;
      display: block;
    }
    .texto{
      font-size: 0.35em;
    }
    img{
      width: 3.21em;
      height: 3.21em;
      display: block;
    }
  }

  .bx-pager{
    position: relative;
  }

  .back{
    display: none;
  }

  .box-filters{
    top: 26%;
    height: auto;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
    label{
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }
  }
}

@media screen and (max-height: 600px) {
  .box-table{
    width: 100%;
  }

  .content .presentation, .content .presentation-search, .content .presentation-search{
    padding: 2px;
  }

  .bx-wrapper {
    .bx-pager{
      bottom: 0;
    }
    .bx-controls-auto{
      bottom: 0;
    }
  }

  body{
    overflow: auto;
  }

  .intro-pic{
    display: none;
  }

  .back{
    display: none;
  }


  //.bxslider li a{
  //  margin: 0.35em 0.45em 0em 1em;
  //  .sombra{
  //    display: none;
  //  }
  //  img{
  //    display: none;
  //  }
  //}

  .bxslider li a{
    width: 3.3em;
    margin: 0.35em 1.45em 0em 1em;
    .sombra{
      width: 2.9em;
      height: 2.9em;
      display: block;
    }
    .texto{
      font-size: 0.35em;
    }
    img{
      width: 3.21em;
      height: 3.21em;
      display: block;
    }
  }

  .back{
    display: none;
  }

  .content{
    width: 100%;
    .presentation, .presentation-search{
      font-size: 1.5em;
      margin-top: 0;
    }
    .back{
      top: 10px;
    }
  }
  .bx-wrapper{
    height: 51%;
    .bx-pager{
      position: relative;
    }
  }
  
  .box-filters{
    top: 26%;
    height: auto;
    left: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 1em;
    label{
      width: 100%;
      padding-left: 0;
      margin-left: 0;
    }
  }

  .img-man{
    display: none;
  }

  .other-services {
    .serv-of{
      right: 30px;
    }
  }

  #info-services{
    width: 100%;
  }
}

@media screen and (max-height: 450px) {
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -30px;
  }

  .presentation-search{
    margin-top: 14px;
  }

  .content .presentation, .content .presentation-search, .content .presentation-search{
    margin-top: 14px;
    .option{
      display: none;
    }
    .presentation-2{
      padding-bottom: 6px;
    }
  }

  .back{
    display: none;
  }

  .bxslider li a{
    width: 3.3em;
    margin: 0.35em 1.45em 0em 1em;
    .sombra{
      width: 2.9em;
      height: 2.9em;
      display: block;
    }
    .texto{
      font-size: 0.35em;
    }
    img{
      width: 3.21em;
      height: 3.21em;
      display: block;
    }
  }

  .footer{
    top: 0;
  }

  .bread{
    top: 18px;
  }

  .bx-wrapper{
    height: 31%;
    .bx-pager{
      position: relative;
    }
  }

  .box-filters{
    margin-top: -4em;
    .image{
      display: none;
    }
  }
  .img-man{
    display: none;
  }

  .other-services {
    .serv-of{
      left: 167px;
      top: 6px;
    }
  }
}

@media screen and (max-width: 250px) {
  .bxslider li a{
    margin: 0.35em 0.45em 0em 1em;
    width: 7.3em;
    .sombra{
      display: none;
    }
    .texto{
      font-size: 0.65em;
    }
    img{
      display: none;
    }
  }

  .bx-viewport{
    height: 280px;
  }
}