<div class="other-services">
	<div class="serv-of">
		<div>
			<p><a href="#/catalog/services/{{ cat_name }}/{{ id_cat }}/{{ id_filter }}/{{ id_product }}">Serviçoes oficina</a></p>
		</div>
	</div>
	<div class="img-man"><img src="images/man_oficina.png" /></div>
</div>

<div class="bread">
	<a href="/">
	  <div class="go-home"><span></span></div>
	</a>
	<a href="#/catalog/">
	  <div class="go-cat"><span></span></div>
	</a>
	<a href="#/catalog/category/{{ cat_name }}/{{ id_cat }}/{{ id_filter }}/{{ id_product }}">
	  <div class="go-search"><span></span></div>
	</a>
</div>